<div class="contents row">
 <div class="container">
   <%= form_with(model: @room, local: true) do |form| %>
     <h3>
       作成する
     </h3>
     <%= render 'layouts/error_messages', model: form.object %>
     <%= render partial: "form", locals: { form: form } %>
   <% end %>
 </div>
</div>